@media (min-width: 1200px) {
    .container {
        width: 100%;
        max-width: 1360px;
    }

    .logo-line .addres {
        max-width: 270px;
    }
}

@media (min-width: 1250px) {
    .logo-line .addres {
        max-width: initial;
    }

    .sort-view .round-button {
        display: inline-block;
        width: 100%;
        text-align: center;
    }
}

@media (max-width: 1200px) {
    .logo-line .logo {
        width: 200px;
        margin-right: 10px;
    }

    .logo-line .addres {
        margin-right: 0;
    }

    .logo-line .addres a, .logo-line .addres p {
        font-size: 16px;
    }

    .logo-line .query {
        margin: 0 auto 0;
    }

    .logo-line .round-button {
        padding: 10px 15px;
        font-size: 18px;
    }

    .logo-line .cont-phones .viber, .logo-line .cont-phones .whatsapp {
        width: 25px;
        height: 25px;
    }

    .logo-line .cont-phones a {
        font-size: 28px;
    }

    .logo-line .cont-phones .messengers {
        padding: 7px 0;
    }

    header .menu > ul > li > a {
        font-size: 24px;
        padding: 18px 20px;
        line-height: 24px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: -moz-box;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        -moz-box-align: center;
        align-items: center;
        height: 60px;
    }

    .wide-banner .banner-logo {
        display: none;
    }

    .text-row {
        padding: 0 15px;
    }

    .news-main .item:nth-child(n), .category-section .item:nth-child(n) {
        width: 32.935%;
        margin-right: 0.6%;
        margin-bottom: 0.6%;
    }

    .news-main .item:nth-child(3n), .category-section .item:nth-child(3n) {
        margin-right: 0;
    }

    .info-row .texted-img .text {
        width: 85%;
    }

    .services-row .title br {
        display: none;
    }

    .services-row .item {
        padding: 0px 5px;
    }

    .review-main .owl-carousel {
        padding: 45px 50px;
    }

    .news-main .news-main-list {
        -ms-flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-bottom: -6px;
    }

    footer .menu li {
        padding-right: 15px;
    }

    footer .menu a {
        font-size: 16px;
    }

    footer .round-button {
        padding: 10px 20px;
    }

    .best-proposes .item .text .description {
        font-size: 14px;
    }

    .ocfilter-option[id^="option-"] {
        width: 25%;
        float: left;
        background-color: transparent;
        border: none;
    }

    .category-list .item .square {
        width: 50%;
    }

    .object-top .owl-item img {
        height: 400px;
    }

    .object-top .imgs > a {
        width: 85px;
        margin: 0 5px 5px 0;
    }

    .object-top img {
        height: 60px;
    }

    .object-top .imgs > a:nth-child(6n-4) {
        margin-left: 8px;
    }

    .object-top .owl-carousel {
        margin-bottom: 10px;
    }

    .object-r .obj-price p {
        font-size: 22px;
    }

    .contacts-row .cont {
        padding: 0 40px 40px;
    }

    .request-l .article.form label .radio label {
        width: 32%;
    }
}

@media (max-width: 991px) {
    .logo-line {
        -ms-flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .logo-line .logo {
        width: 300px;
        -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
        -webkit-order: 0;
        -moz-box-ordinal-group: 1;
        order: 0;
        margin-right: auto;
    }

    .logo-line .round-button {
        font-size: 24px;
        padding: 10px 30px;
    }

    .logo-line .cont-phones {
        -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
        -webkit-order: 0;
        -moz-box-ordinal-group: 1;
        order: 0;
        margin: 0 0 0 auto;
    }

    .logo-line .cont-phones a {
        font-size: 33px;
    }

    .logo-line .cont-phones .viber, .logo-line .cont-phones .whatsapp {
        width: 34px;
        height: 34px;
    }

    .logo-line .addres {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        -webkit-order: 1;
        -moz-box-ordinal-group: 2;
        order: 1;
        margin-right: auto;
        margin-top: 10px;
    }

    .logo-line .query {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        -webkit-order: 1;
        -moz-box-ordinal-group: 2;
        order: 1;
        margin-right: 0;
        margin-left: auto;
        margin-top: 10px;
        width: 100%;
    }

    .logo-line .query a {
        display: inline-block;
    }

    .logo-line .cont-phones .messengers {
        padding: 2px 0;
    }

    .mm-menu {
        background-color: #082b40;
        color: #fff;
        border-color: #f1eaa2;
    }

    .mm-menu .mm-navbar a, .mm-menu .mm-navbar > * {
        color: #fff;
    }

    .mm-menu .mm-btn:after, .mm-menu .mm-btn:before, .mm-menu .mm-listview .mm-btn_next:after {
        border-color: #fff;
    }

    header .menu {
        display: none;
    }

    header .mob-menu {
        display: inline-block;
        position: fixed;
        left: 0;
        top: 80px;
        z-index: 999;
    }

    header .mob-menu a {
        display: inline-block;
        width: 44px;
        height: 44px;
        -webkit-border-radius: 0 7px 7px 0;
        -moz-border-radius: 0 7px 7px 0;
        border-radius: 0 7px 7px 0;
        background-color: #082b40;
        background-image: url('../image/burger.png');
        background-position: center;
        -webkit-background-size: 26px 22px;
        -moz-background-size: 26px 22px;
        -o-background-size: 26px 22px;
        background-size: 26px 22px;
        background-repeat: no-repeat;
    }

    .news-main .item:nth-child(n), .category-section .item:nth-child(n) {
        width: 32.669%;
        margin-right: 1%;
        margin-bottom: 1%;
    }

    .news-main .item:nth-child(3n), .category-section .item:nth-child(3n) {
        margin-right: 0;
    }

    .info-row .texted-img .text {
        width: 100%;
        left: 15px;
        top: 0;
        height: 100%;
        -webkit-transform: none;
        -ms-transform: none;
        -moz-transform: none;
        -o-transform: none;
        transform: none;
    }

    .info-row .wide-text .text {
        padding: 30px 35px 35px;
    }

    .category-section .item {
        padding-left: 15px;
    }

    .category-section .item .icon {
        margin-right: 15px;
    }

    footer .round-button {
        float: none;
    }

    footer .submenu {
        margin-top: 15px;
    }

    footer .submenu ~ .agency-description {
        display: none;
    }

    footer .addres, footer .cont-phones {
        text-align: left;
    }

    footer .socials {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        -webkit-justify-content: flex-start;
        -moz-box-pack: start;
        justify-content: flex-start;
    }

    footer .socials img {
        margin: 0 10px 0 0;
    }

    footer .bot-line {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        -webkit-flex-direction: column;
        -moz-box-orient: vertical;
        -moz-box-direction: normal;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        -webkit-align-items: flex-start;
        -moz-box-align: start;
        align-items: flex-start;
    }

    footer .socials ~ .agency-description {
        display: block;
    }

    .category-list .item {
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .category-list .item .img, .category-list .item .text {
        width: 100%;
    }

    .ocfilter-option[id^="option-"], .category-list .item .square {
        width: 33.33339%;
        margin-bottom: 10px;
    }

    .sort-view {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -moz-box-orient: vertical;
        -moz-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .sort-view {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -moz-box-orient: vertical;
        -moz-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-top: 30px;
    }

    .pull-right-lg-md {
        float: none;
    }

    .object-r, .contacts-r, .article-r {
        padding-left: 15px;
        margin-bottom: 30px;
    }

    .object-l, .contacts-l, .request-l, .news-l, .article-l {
        padding-right: 15px;
    }

    .object-top .imgs > a:nth-child(n) {
        width: 19%;
        margin-right: 5px;
        margin-left: 0;
    }

    .object-top .imgs > a:nth-child(5n-3) {
        margin-left: 8px;
    }

    .object-top img {
        height: 6em;
    }

    .contacts-row .contacts-r .conacts-img {
        padding-bottom: 56.25%;
    }

    .contacts-r .cont-map {
        padding-bottom: 56.25%;
    }

    .contacts-row .contacts-text > div {
        padding: 40px;
    }

    .contacts-row .contacts-text td, .contacts-row .contacts-text td p {
        font-size: 18px;
    }

    .request-l,
    .article-l {
        margin-bottom: 7px;
    }
}

@media (max-width: 768px) {
    .logo-line .cont-phones a {
        font-size: 28px;
    }

    .logo-line .logo {
        width: 255px;
    }

    .info-row .texted-img {
        padding-right: 15px;
    }

    .info-row .texted-img .text {
        left: 0;
        padding: 20px 35px;
    }

    .news-main .item:nth-child(n), .category-section .item:nth-child(n) {
        width: 49.5%;
        margin-right: 1%;
    }

    .news-main .item:nth-child(2n), .category-section .item:nth-child(2n) {
        margin-right: 0;
    }

    .info-row .wide-img {
        display: none;
    }

    .info-row .slim-text {
        padding-left: 15px;
    }

    .info-row .wide-text .text, .info-row .slim-text .text {
        padding: 30px 60px 35px;
    }

    .services-row .item {
        padding: 0px 45px;
    }

    .review-main .item {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        -webkit-flex-direction: column;
        -moz-box-orient: vertical;
        -moz-box-direction: normal;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        -moz-box-align: center;
        align-items: center;
    }

    .review-main .item .photo img {
        margin: 0 auto 20px;
    }

    footer .submenu {
        height: 115px;
    }

    footer .menu li {
        line-height: normal;
    }

    footer .menu {
        margin: 0 0 10px;
    }

    .sort-view {
        -webkit-box-align: stretch;
        -webkit-align-items: stretch;
        -moz-box-align: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
    }

    .sort-view .sort, .sort-view .view {
        width: 100%;
    }

    .sort-view .sort {
        margin-bottom: 10px;
    }

    .sort-view .round-button {
        float: none;
    }

    .pull-right-lg-md {
        text-align: center;
    }

    .object-top .imgs > a:nth-child(n) {
        width: 32%;
        margin-right: 0;
        margin-left: 1%;
    }

    .object-top img {
        height: 10em;
    }

    .contacts-row .contacts-text > div, .contacts-row .cont {
        padding-left: 15px;
        padding-right: 15px;
    }

    .contacts-row .contacts-text table {
        min-width: 650px;
    }

    .contacts-row .contacts-text > div > div {
        overflow: auto;
    }

    .article {
        padding: 0 15px;
    }
}

@media (min-width: 640px) and (max-width: 768px) {
    .info-row .texted-img, .info-row .slim-text {
        width: 49.9%;
    }
}

@media (max-width: 640px) {
    .info-row .texted-img .text {
        left: 40px;
        right: 40px;
        top: 25px;
        width: auto;
        height: auto;
        padding: 20px 35px;
    }

    .logo-line {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        -webkit-flex-direction: column;
        -moz-box-orient: vertical;
        -moz-box-direction: normal;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        -moz-box-align: center;
        align-items: center;
    }

    .logo-line .logo a {
        display: none;
    }

    .logo-line a.mob-logo {
        display: inline-block;
    }

    .logo-line .logo {
        margin: 0 auto 25px;
        width: 60%;
    }

    .logo-line .addres {
        margin: 0 auto 20px;
        -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
        -webkit-order: 0;
        -moz-box-ordinal-group: 1;
        order: 0;
        text-align: center;
    }

    .logo-line .cont-phones div {
        text-align: center;
    }

    .logo-line .cont-phones {
        margin: 0 auto 0;
    }

    .logo-line .query {
        margin: 0 auto 20px;
        -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
        -webkit-order: 0;
        -moz-box-ordinal-group: 1;
        order: 0;
    }

    .logo-line .cont-phones .messengers {
        padding: 0;
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
    }

    .logo-line .cont-phones .viber, .logo-line .cont-phones .whatsapp {
        float: none;
    }

    .ocfilter-option[id^="option-"], .category-list .item .square {
        width: 50%;
    }
}

@media (max-width: 540px) {
    .services-row .title {
        font-size: 24px;
    }

    .wide-banner .title {
        font-size: 30px;
        line-height: 36px;
    }

    .wide-banner .banner-img {
        height: 190px;
    }

    .news-main .title, .review-main .title, .best-proposes .title {
        font-size: 24px;
        line-height: 42px;
    }

    .news-main .item:nth-child(n), .category-section .item:nth-child(n) {
        width: 100%;
        margin-right: 0;
        margin-bottom: 7px;
        height: 100px;
    }

    .best-proposes {
        margin: 0 -15px 0 -15px;
    }

    .text-row .title {
        font-size: 24px;
        line-height: normal;
        margin: 10px 0;
    }

    .category-section {
        width: auto;
        float: none;
        margin: 0 -15px 0 -15px;
    }

    .info-row .texted-img, .info-row .slim-text, .info-row .wide-text {
        padding: 0;
    }

    .info-row .texted-img .text {
        left: 15px;
        right: 15px;
        padding: 20px 15px;
    }

    .info-row .title {
        font-size: 20px;
    }

    p {
        font-size: 18px;
    }

    .info-row .wide-text .text, .info-row .slim-text .text {
        padding: 20px 30px;
    }

    .services-row .item {
        padding: 0 30px;
    }

    .review-main .owl-carousel {
        padding: 30px 15px;
        width: auto;
        margin: 0 -15px 0 -15px;
    }

    .review-main .owl-nav {
        -webkit-transform: none;
        -ms-transform: none;
        -moz-transform: none;
        -o-transform: none;
        transform: none;
        top: 125px;
    }

    .news-main .item:nth-child(n) {
        height: auto;
    }

    footer .submenu {
        height: auto;
    }

    .news-main {
        margin: 0 -15px;
    }

    .category-list .item .text {
        padding: 10px 20px;
    }

    .noUi-pips-horizontal {
        font-size: 10px;
    }

    .object-top img {
        height: 7em;
    }

    .object-top .imgs > a:nth-child(n) {
        width: 30%;
        margin-right: 0;
        margin-left: 2%;
    }

    .object-top .imgs > a:nth-child(3n-1) {
        margin-left: 3%;
    }

    .request-l .article.form label {
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    #dZUpload,
    .request-l .article.form #chose-type-button,
    .request-l .article.form label .radio,
    .request-l .article.form .check,
    .request-l .article.form label input,
    .request-l .article.form label textarea {
        width: 100%;
        margin: 5px 0 0;
    }

    .request-l .article.form label .radio {
        margin: 0;
        padding-bottom: 0;
    }

    .request-l .article.form .check {
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        margin-bottom: 15px;
    }
}

@media (max-width: 480px) {
    .ui-menu-item {
        font-size: 16px;
    }

    .request-l .article.form label .radio label {
        width: 49%;
    }

    #dZUpload .dz-message .round-button {
        font-size: 18px;
    }

    .news-list .item .img img, .category-list .item .img img {
        height: 230px;
    }

    .ocfilter-option[data-toggle="popover-price"], .ocfilter-option.currency-wraper, .ocfilter-option[id^="option-"], .category-list .item .square {
        width: 100%;
    }

    .object-top .owl-item img {
        height: 300px;
    }

    .object-top img {
        height: 5em;
    }

    .object-top .title {
        font-size: 26px;
        padding: 0 15px;
    }

    .object-bot .obj-map {
        padding-bottom: 90%;
    }

    .object-bot, .object-r .obj-price, .object-r .info, .object-r .print-download {
        padding: 15px;
    }

    .object-r .rieltor {
        padding: 25px 15px;
    }

    .object-r .print-download a + a {
        margin-left: 20px;
    }

    .object-r .rieltor .round-button, .object-r .rieltor .rieltor-cont a {
        font-size: 20px;
    }

    .request-l .article.form label,
    .news-l .article.form label,
    .contacts-l .cont.form label {
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .request-l .article.form .check,
    .request-l .article.form label input,
    .request-l .article.form label textarea,
    .news-l .article.form .check,
    .news-l .article.form label input,
    .news-l .article.form label textarea,
    .contacts-l .cont.form .check,
    .contacts-l .cont.form label input,
    .contacts-l .cont.form label textarea {
        width: 100%;
        margin: 5px 0 0;
    }

    .news-l .article.form .check,
    .request-l .article.form .check,
    .contacts-l .cont.form .check {
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        margin-bottom: 15px;
    }

    .contacts-row .cont .cont-block > div {
        width: 100%;
    }
}

@media (max-width: 320px) {
}

@media print {
    .owl-carousel,
    .owl-carousel * {
        display: none;
    }

    #print11 {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
        -moz-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    #print11 p {
        width: 32%;
        margin-right: 1%;
    }

    #print11 p:nth-child(3n) {
        margin-right: 0;
    }

    .imgs {
        width: 100%;
        float: left;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -moz-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    a:link:after, a:visited:after {
        content: "";
    }

    .imgs a {
        width: 19%;
        margin: 0 1.25% 5px 0;
        float: left;
        word-break: break-all;
    }

    .imgs a:nth-child(6n+1) {
        margin-right: 0;
    }

    .imgs a:first-of-type,
    .imgs img {
        width: 100%;
        margin: 0 0 5px;
    }
}

@media (min-width: 1400px) {

    .sort-view .col-lg-7 {
        width: 49.9%;
    }

    .sort-view .col-lg-2 {
        width: 25%;
    }
}

@media (max-width: 1200px) {

    .sort-view {
        padding: 30px 0 0;
    }
}

@media (max-width: 991px) {

    .sort-view {
        flex-direction: row;
    }

    header .mob-menu {
        top: 113px;
    }

    .contacts-row .contacts-l, .contacts-row .contacts-r {
        width: 100%;
    }

    .contacts-row .contacts-text td, .contacts-row .contacts-text td p {
        display: block;
        width: 100%;
        padding: 0;
    }

    .contacts-row .contacts-text td:first-child {
        padding-right: 0;
    }

    .contacts-row .contacts-text table {
        min-width: auto;
    }
}

@media (max-width: 768px) {

    .sort-view .col-lg-3 #search {
        margin: 15px 0 0;
    }

    .contacts-row .contacts-text table {
        min-width: auto;
    }

    .contacts-row .cont .cont-block > div {
        width: 100%;
    }
}

@media (max-width: 640px) {

    .logo-line {
        flex-direction: column;
    }

    .logo {
        width: 100%;
        margin: 0;
    }

    .logo-line a.mob-logo {
        display: flex;
        height: auto;
        overflow: hidden;
        align-items: flex-end;
        justify-content: center;
    }

    .logo-line .cont-phones .messengers {
        padding: 0;
        width: 40px;
        text-align: center;
        margin-bottom: 0;
        position: fixed;
        top: 98px;
        right: 0;
        z-index: 10;
    }

    .logo-line .mob-logo img:not(.mob-mob-logo), .logo-line .logo img:not(.mob-mob-logo) {
        display: none;
    }

    .logo-line .mob-logo img.mob-mob-logo, .logo-line .logo img.mob-mob-logo {
        display: block;
    }

    .logo-line .logo {
        width: 80%;
        margin-bottom: 8px;
        order: 1;
    }

    .logo-line {
        margin-top: 22px;
    }

    .logo-line .addres p br {
        display: none;
    }

    .logo-line .addres a {
        margin-left: 5px;
    }

    .logo-line .addres {
        order: 2;
        max-width: 80%;
        margin-bottom: 15px;
    }

    .logo-line .query {
        order: 4;
        padding: 0 12px;
    }

    .logo-line .cont-phones {
        order: 3;
        margin-bottom: 11px;
    }

    .logo-line .addres a, .logo-line .addres p {
        font-size: 14px;
        line-height: 1.4;
    }

    .logo-line .cont-phones a {
        font-size: 24px;
        line-height: 1.4;
    }

    .link-group {
        display: flex;
        justify-content: space-between;
    }

    .logo-line .query a {
        padding: 14px 14px 15px;
    }


}